# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
maven-*.jar

# IDE
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.vscode/
*.swp
*.swo

# Sistema Operacional
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Outros
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar